<header class="animated fadeIn">
  <div class="row">
    <div class="large-6 columns cuadro">
      <h1 class="cuadro"><%= t(".brand") %></h1>
        <h3 class="cuadro"> <%= t(".copy") %> </h3>
    </div>
    <div class="large-12 text-center columns">
      <div class="logo">
        <figure>
          <%= image_tag "bag.png", :alt => t(".brand") %>
        </figure>
      </div>
      <div class="large-12 columns cuadro1">
        <h4 class="cuadro">Recibe en tu correo las ofertas y promociones que tenemos, suscríbete a nuestro boletín.</h4>
        <a href="" class="button tiny radius" data-reveal-id="myModal1"><i class="fa fa-newspaper-o"></i> ¡Suscribirme ahora!</a>
      </div>
    </div>
  </div>
</header>
<%= render :partial => "layouts/contact" %>
