<h4>Mi carrito</h4>
<%= render 'items', :order => current_order %>
<ul class="button-group radius">
  <li><%= link_to 'Vaciar mi carrito', basket_path, :method => :delete, :class => 'button tiny' %></li>
  <li><%= link_to "Continuar comprando", root_path, :class => 'button tiny' %></li>
  <li><%= link_to "Realizar pedido", checkout_path, :class => 'button tiny' %></li>
</ul>
