<h4>Mi pedido</h4>
<%= render 'items', :order => current_order %>

<ul class=" center-align" >
  <li><%= link_to 'Vaciar mi lista', basket_path, :method => :delete, :class => 'btn-large purple' %></li>
  <li><%= link_to "Continuar cotizando", root_path, :class => 'btn-large purple' %></li>

</ul>
