<section>
  <div class="row">
    <div class="large-12 columns text-center">
      <h3>Sobre Nosotros.</h3>
    </div>
    <div class="large-12 text-center">
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-flag fa-3x animated tada"></i></h2>
        <h2>Tenemos 2 Sucursales.</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-credit-card fa-3x animated shake"></i></h2>
        <h2>Aceptamos todas las Tarjetas.</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="animated slideInRight fa fa-truck fa-3x fa-flip-horizontal "></i></h2>
        <h2>Enviamos a toda la Republica</h2>
      </div>
      <div class="small-3 large-3 columns">
        <h2><i class="fa fa-heart fa-3x animated pulse"></i></h2>
        <h2>Atención 100% personalizada.</h2>
      </div>
    </div>
    <div class="large-12 columns text-center">
      <h1><small>Envianos un email.</small></h1>
      <h2><i class="fa fa-envelope"></i> c_ventas@elcastillodelafantasia.com.mx</h2>
    </div>
  </div>
</section>
<div class="row">
  <div class="large-12 columns text-center">
  <h3 class="cuadro">Visitanos en cualquiera de Nuestras 2 Sucursales.</h3>
    <div class="small-6 large-6 columns callout radius">
      <h4>Matriz</h4>
      <h5><i class="fa fa-map-marker fa-2x"></i> <strong>Justo Sierra</strong>, No. 41, Col. Centro, México D.F.</h5>
      <h6 class="cuadro"><i class="fa fa-mobile fa-2x"></i> 55-22-11-13, 55-42-03-22</h6>
    </div>
    <div class="small-6 large-6 columns callout radius">
      <h4>Sucursal</h4>
      <h5><i class="fa fa-map-marker fa-2x"></i> <strong>Del Carmen</strong>, No. 32-B, Col. Centro, México D.F.</h5>
      <h6 class="cuadro"><i class="fa fa-mobile fa-2x"></i> 57-95-32-78, 57-02-08-01</h6>
    </div>
  </div>
</div>
