<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><%= image_tag("footer.png", :alt=> "logo") %></h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="feedback">Síguenos en nuestras redes sociales.</h5>
        <ul class="social">
          <li><a href="https://www.facebook.com/elcastillodelafantasiamx"><span class="fa fa-facebook"> </span></a></li>
          <li><a href="https://twitter.com/@ElCastillodelaF"><span class="fa fa-twitter"> </span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Bisutería Jaramillo S.A de C.V.
    <ul class="legals">
      <li><a href="" class="white-text">Términos y condiciones.</a></li>
      <li><a href="" class="white-text">Aviso Legal.</a></li>
    </ul>
    </div>
  </div>
</footer>
